.p-portfolio {
  width:90%;
  margin: 50px auto;
  padding: 20px;
  background: antiquewhite;
  border-radius: 10px;

  .content-wrapper {
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
        .item-image {
          width: 50%;
        }
        .item-text {
          font-size: 0.8rem;
          display: flex;
          flex-flow: column;
          // flex: 1;
          justify-content: center;
          align-content: center;
        }
        .item-link {
          display: flex;
          justify-content: space-around;
          font-size: 1.1rem;
            a {
              color: #000;
                &:hover {
                  color: tomato;
                }
            }
        }
    }
  }
}

@media screen and (max-width:990px){
  .item-button {
    margin-bottom:10px;
  }
}

@media screen and (max-width:800px){
  .flex-test {
     flex-direction: column;
  }
}
