.p-portfolio {
  width:90%;
  margin: 50px auto;


  .content-wrapper {
    .item {
      padding: 20px;
      border-radius: 10px;
      background: antiquewhite;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
        .item-image {
          width: 50%;
          height: auto;

        }
        .item-text {
          width: 50%;
          font-size: 0.8rem;
          display: flex;
          flex-flow: column;
          padding-left: 50px;
          justify-content: center;
          align-content: center;
        }
        .item-link {
          display: flex;
          justify-content: space-around;
          font-size: 1.1rem;
            a {
              color: #000;
                &:hover {
                  color: tomato;
                }
            }
        }
    }
  }
}

@media screen and (max-width:740px){
  .p-portfolio .content-wrapper {

      .item {
        flex-flow: column;
          .item-image {
            width: 90%;
            margin-bottom: 20px;
          }
          .item-text {
            padding: 0;
            width: auto;
          }
      }
  }
}
